<h2>{{post.title}}</h2>

<ul>
    <li>{{post.image}}</li>
    <li>{{post.name}}</li>
    <li>{{post.description}}</li>
    <li>{{post.price}}</li>
</ul>

<h4>Choose a post below to see the available items</h4>
